.App {
  text-align: center;
}

.login{
  margin-top:5%; 
  margin-left:35%; 
  height:500px;
  width:375px;
  border:1px solid black;
  display:flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border-radius: 2%;
}

.login-button{
 margin-top: 20px !important;  
 margin-bottom: 30px !important;
}

.login-text-first-name{
  margin-bottom:30px !important;
  margin-top:10px!important;
 
}
.login-text-email{
  margin-bottom:30px !important;
 
}
.login-text-password{
  margin-bottom:30px !important;
}
.sign-up-text{
  font-size: medium;
}