.App {
  text-align: center;
}

.login{
  margin-top:5%; 
  margin-left:35%; 
  height:350px;
  width:375px;
  border:1px solid black;
  display:flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border-radius: 2%;
}

.signup-form{
  margin-top:5%; 
  margin-left:35%; 
  height:500px;
  width:375px;
  border:1px solid black;
  display:flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border-radius: 2%;
}

.login-button{
 margin-top: 10px !important;  
 margin-bottom: 20px !important;
}

.login-text-fname{
  margin-bottom:30px !important; 
}

.login-text-lname{
  margin-bottom:30px !important; 
}

.login-text-email{
  margin-top:10px!important;
  margin-bottom:30px !important;
 
}
.login-text-password{
  margin-bottom:10px !important;
}
.sign-up-text{
  font-size: large;
}

.sign-in-text{
  font-size: large;
  margin-top: 30px;
}

.signup-button{
  margin-top:40px !important;
}
  
.add-user{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  gap: 20px;
  width:700px; 
}

.add-button{
  margin-left:350px !important;
  margin-top:30px !important;
  width:200px;
}

.heading-text{
  color: blue;
}

.forgot-password-text{
  font-size: medium;
  margin-left: 180px;
}

.forgot-password{
  margin-top:7%; 
  margin-left:35%; 
  height:250px;
  width:400px;
  border:1px solid black;
  display:flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border-radius: 2%;
}

.otp{
  display:flex;
  flex-direction: column;
}

.reset-password{
  margin-top:8%; 
  margin-left:35%; 
  height:300px;
  width:375px;
  border:1px solid black;
  display:flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  border-radius: 2%;
}

